/* Final Project: Mobile Application
File Name: style.css
Revision History: 
Created by: Faisal Hussein
Date: 04/14/2019 */
body{
    margin: 0px;
    padding: 0px;
    color: white;
    background-color: #222;
}
header ul{
    text-decoration: none;
    list-style-type: none;
    background: #222;
    width: 100%;
    color: white;
    padding: 0px;
}
header ul li{
    display: inline-block;
    width: 18%;
    color: white;
    padding: 15px;
    font-size: 25px;
    text-align: center;
}
header ul li:hover{
    background-color: #333;
    cursor: pointer;
}

.page{
    text-align: center;
    color: black;
    width: 100%;
    padding-left: 5%;
}
.homepage {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#card {
    text-align: center;
    background-color: #333;
    width: 300px;
    height: 500px;
    float: left;
    margin: 40px;
    font-size: 15px;
    color: white;

  }
  #card img{
    width: 100%;
    border-radius: 0px;
  }
  #card button{
    float:left;
    width: 50%;
    border: none;
    padding: 10px;
    color: white;
    background-color: rgb(0, 0, 0);

  }
  #card button:hover{
    background-color: gray;
    cursor: pointer;
  }
  
  #cardView{
      width: 90%;
  }

  .cardBtn{
      clear: both;
      display: inline-block;
      padding: 10px;
      width: 49%;
      font-size: 20px;
      color: white;
      border: none;
      background-color: #333;
  }
  .cardBtn:hover{
    background-color: rgb(70, 70, 70);
    cursor: pointer;
  }
  .cardBtn:active{
      color: red;
  }

  table{
      border: 1px solid white;
      border-collapse: collapse;
  }
  table td, table th{
    padding: 15px;

  }


  #proPic {
      float: left;
      width: 200px;
      height: 250px;
      background-color: lightblue;
  }
  #proPic img{
      width: 100%;
      height: 100%;
  }
  #proInfo{
      float: left;
      margin-left: 200px;
      color: white;
      font-size: 20px;
      text-align: left;
  }
  .proInput{
      padding: 10px;
      border: 1px solid white;
      background-color: #333;
      color: white;
  }
  #subs{
      clear: both;
      width: 46%;
      margin-top: 15%;
  }
 #subBTN {
      display: inline-block;
      padding: 10px;
      color: white;
      background-color: #333;
      border: 1px solid white;
      font-size: 20px;
      width: 49%;
  }
  #subBTN:hover{
      background-color: rgb(75, 75, 75);
      cursor: pointer;
  }
  #subBTN:active{
    color: red;
  }